{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load i18n %}



{% block title %}
News
{% endblock title %}

{% block content %}
<h1>{% trans "All the news" %}: {{ news|length }}</h1>
<a href="/news/search">{% trans "News Search" %}</a>
<a href="/news/create">{% trans "Create News" %}</a>
<a href="/">{% trans "Profile" %}</a>



<hr>
    {% if news %}
        <table>
            <tr>
                <td>{% trans "Header" %}</td>
                <td>{% trans "Date of publication" %}</td>
                <td>{% trans "Content" %}</td>
                <td>{% trans "Rating" %}</td>
                <td>{% trans "Author" %}</td>
                <td>{% trans "Category" %}</td>


            </tr>
            {% for new in news %}
            <tr>
               <td><a href="/news/{{ new.id }}"> {{ new.header|censor }}</a></td>
               <td>{{ new.time_in|date:'d M.Y'}}</td>
               <td>{{ new.text_post|censor|truncatechars:20 }}</td>
               <td>{{ new.rating }}</td>
               <td>{{ new.post_author.user }}</td>
               <td>{{ new.category }}</td>

           </tr>
           {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}